.c-product {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 50%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
      z-index: 1;
      opacity: 0;
      border-radius: 8px 8px 0;
    }
}

.c-product:hover {
  .c-product__action{
    opacity: 1;
   
  }
}

.c-product {
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.c-product__img {
  border-radius: 8px;
  width: 100%;
}

.c-product__title {
  max-width: 100%;
  display: block;
  font-size: 1.0625rem;
  text-align: left;
  list-style: none;
  color: #050505;
  font-weight: 700;
  margin: 1px 0;
}

.c-product__icon {
  font-size: 14px;
  background-color: $light;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #65676b; 
  z-index: 32;
}

.c-product__description {
  font-size: 14px;
  font-weight: normal;
  display: block;
  line-height: 1.3333;
  max-width: 100%;
  color: #050505;
  margin-bottom: 4px;
  margin-top: -2px;
}
  
.c-product__action {
  position: absolute; 
  width: 100%;
  display: flex;
  list-style: none;
  top: 12px;
  left: 50px;
  opacity: 0;
  padding: 0;
  margin: 0;
}

.c-product__ubication {
  color: #65676b;
  font-weight: normal;
  font-size: 12px;
  max-width: 100%;
  display: block;
  margin: 1px 0;
}

.c-product__action--link {
  z-index: 40;
}