
$light: #e7f3ff;
$blue-light : #e7f3ff;

$icon-rounded-bg: #e4e6eb;
$icon-color: #050505;

$theme-colors: (
  "primary": #1877f2,
  "light": $light,
);

@import "node_modules/bootstrap/scss/bootstrap";

.sidebar-container {
  height: calc(100vh - 68px);
  transition: margin .25s ease-in-out;
  overflow: auto;
 
}

.logo-facebook  {
  width: 40px;
  height: 40px;
}

.sidebar-container  {
  .logo{
    padding: .875rem 1.25rem; 
  }
}

.sidebar-container {
  width: 360px
}


.content-wrapper {
  padding-top: 68px;
}


.glass {
  background-color: #f0f2f5;
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #626871;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.form-inline {
  position: relative;
}

.navbar-brand {
  margin-right: 8px !important;
}
.icon-end {
  border-radius: 50%;
  background-color: $icon-rounded-bg;
  fill: $icon-color;
  width: 40px; 
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
}

.nav-icon-star {
  position: absolute;
}

.active {
  fill: $primary !important ;
  &:before {
    content: "";
    width: 100%;
    position: absolute; 
    border-bottom: 3px solid $primary;
    bottom: -10px;
      }
}

.list-group-item {
  font-weight: 500;
}

.list-active {
  background-color: $blue-light;
  fill: #fff; 
    .list-icon {
      background-color: $primary;
    }
  
}
.icon__center {
  fill: #65676b;
  position: relative;
  height: 52px;
  width: 98.59px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

    &:hover{
      background-color: #e4e6eb;
      border-radius: 8px;
    }
    
}

.badge-notification {
  position: absolute;
  top: 2px;
  right: 24px;
}

.linear {
  position: absolute;
  right: 2px;
  bottom: 0;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1877f2;
  border-bottom-width: 3px;
  width: 100%;
}

.title-dashboard {
  font-size: 1.5rem;
  text-align: left;
  
}

.input-sidebar {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  height: 36px;
  color: #050505;
  padding-top: 7px;
  font-size: .9375rem;
  padding-bottom: 9px;
  padding-right: 12px;
  background-color: #f0f2f5;
  border: 0;
  font-weight: normal;
  padding-left: 26px;
  
}

.bells {
  background-color: #e4e6eb;
  color: #5f666f;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lupa {
  position: absolute;
  left: 23px;
  color: #1e2023;
  font-size: 14px;
}

.icon__end {
  position: absolute;
  right: 10px;
}

.list-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $icon-rounded-bg;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  color: $icon-color;
}

.carta {
  background-color: #1877f2 ;
  display: flex;
  padding: 20px;
  width: 583px;
  border-radius: 8px;
}

.thumbnail__card {
  display: flex;
  align-items: baseline;
}

.title__card {
  color: #fff;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 700;
  margin-top: -4px;
  margin-bottom: 5px;
  line-height: 1.2;
  max-width: 100%;
  display: block;
}

.span__card {
  color: #fff;
  text-align: left;
  font-weight: normal;
  max-width: 100%;
  display: block;
  margin-bottom: 16px;

}

.sidebar-container::-webkit-scrollbar {
  width: 8px;
  background-color: #f0f2f5;
  height: 1215px;
}

.sidebar-container::-webkit-scrollbar-thumb {
  background-color: #ced0d4;
  border-radius: 3px;
}

